*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient( #edf6fa, #95c3f2);
     max-height: max-content;
}

.navbar{
    height:100px;
    width: 100%;
    display: flex;
}
#logo{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.name{
    margin-top: 40px;
}
#firstName{
    color: #667db6;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 20px;
    font-family:cursive;
}
#secondName{
    color: rgba(90, 8, 8, 0.756);
    font-size: 30px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.profilePhoto{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
#photo{
    height:100px;
    width:100px;
}
 ul li{
    list-style-type: none;
    margin: 30px;
}
.options{
    height:40px;
    margin:20px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logOut a{
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
.name2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20px;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top:10px;
}
.para{
    font-size: large;
    font-family: cursive;
}
.para2{
    font-size:18px;
}
@media (max-width:480px){
    .options{
        font-size:14px;
        height:25px;
        margin:10px;
    }
    .para{
        font-size:14px;
        font-family: cursive;
    }
    .para2{
        font-size:14px;
    }
    .profilePhoto{
        margin-top: 12px;
    }
    #photo{
        height: 60px;
        width:60px;
    }
    .navbar{
        height:70px;
       }
    #logo{
        height: 70px;
        width: 70px;
        margin-right:5px;
    }
    .name{
        margin-top:25px;
    }
    #firstName{
        font-size:18px;
    }
    #secondName{
    font-size:20px ;
    }
}