*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( #edf6fa, #95c3f2);
    height: 100vh; 
}

.navbar{
    height:100px;
    width: 100%;
    display: flex;
}
#logo{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.name{
    margin-top: 40px;
}
#firstName{
    color: #667db6;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 20px;
    font-family:cursive;
}
#secondName{
    color: rgba(90, 8, 8, 0.756);
    font-size: 30px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.text{
    font-size: xx-large;
    margin-top: 50px;
    font-weight: 900;
}
.sign{
    display: flex;
    justify-content: center;
}
.name1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 30vw;
    padding: 0 1rem;
    height: 7vh;
    background: white;
    border: none;
    outline: none;
    font-size: larger;
    border-radius: 5px;
}
button{
    height: 7vh;
    width: 32vw;
    background-color: white;
    margin-top: 30px;
    border: none;
    font-size: larger;
    border-radius: 5px;
}
button:hover{
    background-color: blue;
    transform:scale(1);
}
@media (max-width: 480px) {
    body {
        padding: 10px; 
    }

    .navbar {
        height: 70px;
    }

    .name1 {
        width: 80vw; 
        height: 7vh; 
    }

    button {
        width: 80vw;
        height: 7vh;
    }

    .text {
        font-size: 1.5rem; 
        margin-top: 30px; 
    }

    #firstName {
        font-size: 16px;
    }

    #secondName {
        font-size: 20px;
    }
}

