*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    background-image: linear-gradient( #edf6fa, #95c3f2);
    height:100vh;
}
a{
    text-decoration: none;
    color: black;
}
.text1{
    color:blue;
    font-size:xx-large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
hr{
   margin-top: 30px;
}
.text2{
    display: flex;
    justify-content: center;
    font-size: larger;
    margin-top: 20px;   
}
.text3{
   margin-top: 20px;
   display: flex;
   justify-content: center;
   font-size: x-large;
   font-weight: 800;
   text-align: center;
}
.text5{
    font-size: x-large;
    font-weight: 800;
}
.text6{
    color: rgb(97, 96, 96);
}
.text4{
    color: rgb(97, 96, 96);
}
.text7{
    font-size: large;
    font-weight: 500;
}
.con{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.con1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.cont1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cont2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.cont3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
@media(max-width:480px){
    *{
        overflow: visible;
    }
    .container{
        padding: 10px;
    }
    .text1{
        font-size: 1.5rem;
    }
    .text2{
        font-size: 1rem;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 7px;
    }
    .text3{
        font-size: 1.2rem;
    }
    .text4{
        font-size: 0.9rem;
    }
    .text5{
        font-size: 1.2rem;
    }
    .text6{
        font-size: 0.9rem;
    }
    .text7{
        font-size: 1rem;
    }
}
